* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "made_dillan";
  src: url(../fonts/made_dillan.woff);
}

@font-face {
  font-family: "radley_italic";
  src: url(../fonts/radley_italic.woff);
}

@font-face {
  font-family: "radley_regular";
  src: url(../fonts/radley_regular.woff);
}

html {
  --BG_color: #fffbf6;
  --H1H2_color: #253016;
  --H1_font: "made_dillan";
  --H2_font: "radley_italic";
  --p_font: "radley_regular";
}

main {
  padding-top: 100px;
}

body {
  background-color: var(--BG_color);
}

h1 {
  color: var(--H1H2_color);
  font-family: var(--H1_font);
}

h2 {
  color: var(--H1H2_color);
  font-family: var(--H2_font);
}

p {
  font-family: var(--p_font);
}

/******* Header *******/

@media (width < 700px) {
  ul img {
    display: none;
  }

  .logo {
    width: 40px;
    height: 40px;
    padding-top: 2px;
  }

  .burger-menu {
    font-size: 2rem;
    cursor: pointer;
    /* display: none; */
    color: var(--H1H2_color);
    position: fixed;
    right: 0;
    padding-right: 20px;
    top: 10px;
    z-index: 888;
  }

  #burger-toggle {
    display: none;
  }

  nav {
    height: 45px;
    padding: 10px;
    border-bottom: 2px solid #253016;
    width: 100%;
    position: fixed;
    background-color: var(--BG_color);
    z-index: 777;
  }

  nav ul {
    position: absolute;
    right: 40px;
    top: 65px;
    width: fit-content;
    max-height: 0; /* Collapsed state */
    overflow: hidden; /* Prevents overflow */
    opacity: 0; /* Initially transparent */
    background-color: var(--H1H2_color);
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 1em;
    border-radius: 0 0 8px 8px;
    transition: max-height 0.5s ease-in-out; /* Smooth animation */
  }

  #burger-toggle:checked + label + nav ul {
    max-height: 300px; /* Expanded state (adjust height as needed) */
    opacity: 1; /* Fully visible */
  }

  #burger-toggle:checked + label {
    color: black;
  }

  nav a {
    padding: 3px;
    line-height: 1.5rem;
    width: 100%;
    display: inline-block;
    font-size: 20px;
    color: var(--BG_color);
    text-decoration: none;
    font-family: var(--H1_font);
  }

  .menu {
    z-index: 999;
  }
}

@media (width >= 700px) {
  .burger-menu {
    display: none;
  }

  .logo {
    display: none;
  }

  #burger-toggle {
    display: none;
  }

  nav {
    padding: 1em;
    border-bottom: 2px solid #253016;
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin: 0.1em 1.5em;
  }

  ul img {
    width: 55px;
    height: 55px;
    margin-top: 6px;
  }

  li a {
    text-decoration: none;
    color: var(--H1H2_color);
  }

  li {
    font-family: made_dillan;
    font-size: 1.5em;
    color: var(--H1H2_color);
  }
}
/******* Footer ********/

.lottie {
  height: 80%;
}
