#BG1 {
  width: 100%;
}

#BG2 {
  display: none;
}

.text-overlay {
  position: absolute;
  margin: 0 40px;
  top: 250px;
}

h1 {
  font-size: 16vw;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
}

footer {
  bottom: 30px;
}

@media (width >= 700px) {
  #BG1 {
    display: none;
  }

  #BG2 {
    display: block;
    width: 100%;
  }

  .text-overlay {
    position: absolute;
    margin: 0 40px;
    top: 230px;
  }
  
  h1 {
    font-size: 10vw;
    text-align: right;
    margin-right: 50px;
  }
  
  p {
    text-align: right;
    font-size: 20px;
    margin: 40px;
    margin-left: 500px;
    margin-right: 50px;
  }
  footer {
    bottom: 10px;
  }
}
