#BG1 {
  width: 100%;
}

#BG2 {
  display: none;
}

.text-overlay {
  position: absolute;
  margin: 0 40px;
  top: 250px;
}

h1 {
  font-size: 16vw;
  text-align: center;
}

p {
  text-align: center;
  margin: 20px;
}

footer {
  bottom: 10px;
  position: fixed;
}

@media (width >= 700px) {
  #BG1 {
    display: none;
  }

  #BG2 {
    display: block;
    width: 100%;
  }
}
