main img:first-child {
  width: 100%;
}

main img:nth-child(2) {
  display: none;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (width >= 700px) {
  main img:first-child {
    display: none;
  }

  main img:nth-child(2) {
    display: block;
    width: 100%;
  }
}
